@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

$color-ginger-1: #ffc85e;
$color-gray-1: #3f4e65;
$color-black-1: #111111;
$color-black-2: #2b1c01;
$color-white-1: #ffffff;
$color-white-2: #e5e5e5;
$color-green-1: #1fd85d;

*,
*::after,
*::before {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-size: 1.4rem;
	line-height: 1.5;
	font-weight: 400;
	color: $color-gray-1;
	background-color: $color-white-1;
}

.container {
	padding: 0 5rem;
	max-width: 147rem;
	margin: 0 auto;
}
.main-container {
	margin-bottom: 10rem;
}

/*Компонент "хлебные крошки(breadcrumbs)"*/

.breadcrumbs {
	margin-bottom: 5rem;
	&__list {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
	}
	&__list-item {
		margin-right: 1rem;
		border-right: 1px dashed rgba($color-gray-1, 0.3);
	}
	&__list-item:last-child {
		border-right: none;
		opacity: 0.5;
	}
	&__link {
		min-width: 14.5rem;
		margin-right: 1rem;
		text-decoration: none;
		color: $color-gray-1;
	}
}

/*Компонент "разбиение на страницы (pagination)"*/

.pagination {
	display: flex;
	align-items: center;

	&__numbers-container {
		display: flex;
		align-items: center;
		margin: 0 2.2rem;
	}
	&__button {
		cursor: pointer;
		border: none;
		background: none;
		line-height: 1.3;
		border-radius: 50%;
		height: 3.5rem;
		width: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__button--active {
		background: linear-gradient(
			90deg,
			rgba(255, 198, 80, 0.3) 0%,
			rgba(254, 202, 110, 0.3) 97.25%
		);
	}
}

/*Компонент адрес*/

.address {
	font-style: normal;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	&__icon {
		width: 2rem;
		height: 2rem;
	}
	&__link:link,
	&__link:visited {
		text-decoration: none;
		font-weight: 600;
		line-height: 1.82rem;
		color: $color-black-1;
		transition: all 0.3s;
	}
	&__link:hover,
	&__link:active {
		color: #707070;
	}
	&__additional-text {
		font-size: 1.2rem;
		line-height: 1.6rem;
		color: $color-gray-1;
		font-weight: 300;
	}
	&--footer {
		margin-bottom: 2.5rem;
	}
	&--footer &__icon {
		display: none;
	}
	&--footer &__link:link,
	&--footer &__link:visited {
		color: $color-white-1;
	}
	&--footer &__link:hover,
	&--footer &__link:active {
		color: #707070;
	}
	&--footer &__additional-text {
		color: $color-white-1;
	}
}

/*Компонент "телефон" (телефон, время работы, заказать звонок)*/

.telephone {
	font-style: normal;
	line-height: 1.5;
	display: inline-flex;
	flex-direction: column;
	align-items: end;
	gap: 0.5rem;
	&__department {
		color: $color-black-1;
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
	}
	&__number-container {
		display: flex;
		align-items: center;
		gap: 1.6rem;
	}

	&__callback-container {
		display: flex;
		align-items: center;
		gap: 0.7rem;
	}
	&__tel-img-stroke {
		width: 1.8rem;
		height: 1.8rem;
	}
	&__tel-img-white-container {
		background-color: $color-ginger-1;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}
	&__tel-img-white {
		width: 1rem;
		height: 1rem;
	}
	&__number:link,
	&__number:visited {
		text-decoration: none;
		font-weight: 600;
		color: $color-black-1;
	}
	&__number:hover,
	&__number:active {
		color: #707070;
	}
	&__working-hours {
		display: inline-block;
		font-weight: 300;
		font-size: 1.2rem;
	}
	&__link:link,
	&__link:visited {
		font-weight: 400;
		font-size: 1rem;
		color: $color-gray-1;
	}
	&__link:hover,
	&__link:active {
		color: #8c95a3;
	}
	&--header {
		margin-right: 1.4rem;
		margin-top: 2.15rem;
		margin-bottom: 2.25rem;
	}
	&--footer {
		align-items: start;
		margin-bottom: 2.5rem;
	}
	&--footer &__number:link,
	&--footer &__number:visited {
		text-decoration: none;
		font-weight: 600;
		color: $color-white-1;
	}
	&--footer &__number:hover,
	&--footer &__number:active {
		color: #707070;
	}
	&--footer &__link:link,
	&--footer &__link:visited {
		font-weight: 400;
		font-size: 1rem;
		color: $color-white-1;
	}
	&--footer &__link:hover,
	&--footer &__link:active {
		color: #8c95a3;
	}
	&--mobile-burger {
		align-items: start;
	}
	&--mobile-burger &__working-hours {
		margin-bottom: 0.8rem;
	}
	&--mobile-burger &__working-hours {
		margin-left: 3.4rem;
	}
	&--mobile-burger &__number:link,
	&--mobile-burger &__number:visited {
		text-decoration: none;
		font-weight: 300;
		font-size: 12px;
		line-height: 1.3;
		color: $color-gray-1;
	}
	&--mobile-burger &__number:hover,
	&--mobile-burger &__number:active {
		color: #8c95a3;
	}
}

/* Компонент корзина */

.cart {
	display: flex;
	align-items: center;
	gap: 2.4rem;
	&__icon-container {
		display: inline-block;
		position: relative;
	}
	&__icon {
		width: 4rem;
		height: 2.9rem;
	}
	&__icon-quantity {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		background-color: $color-ginger-1;
		font-weight: 700;
		color: $color-white-1;
		width: 2.5rem;
		height: 2.5rem;
		border: 3px solid $color-white-1;
		border-radius: 50%;
		top: 5px;
		right: 0;
		transform: translate(50%, -50%);
	}
	&__text {
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.5;
	}
	&__price {
		color: $color-black-1;
		font-weight: 600;
	}
}

/*Компонент "окно ввода с кнопкой"*/

.input-with-button {
	display: inline-block;
	position: relative;
	&__input {
		width: 26.3rem;
		font-size: 1.2rem;
		color: #5c6370;
		line-height: 1.5;
		background-color: #ededed;

		border-radius: 3.6rem;
		border: none;
		padding: 2rem;
	}
	&--footer {
		display: block;
		width: 87%;
	}
	&--footer &__input {
		display: block;
		width: 100%;
	}
	&--sidebar {
		margin-bottom: 1.5rem;
	}
	&--mobile-nav {
		background: none;
		display: flex;
		align-items: center;
		gap: 0.6rem;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	&--mobile-nav &__input {
		background: none;
		padding: 0;
		width: 6.6rem;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.25;
	}
}

/* Компонент "колонка навигации"*/
.nav-column {
	&__header {
		color: $color-white-1;
		font-weight: 600;
		font-size: 2rem;
		line-height: 1.5;
		margin-bottom: 2.5rem;
	}
	&__list {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&__link {
		text-decoration: none;
		color: $color-white-1;
	}
}

/*Компонент "колонка с логотипом"*/

.footer-logo-column {
	color: $color-white-1;
	margin-right: -3.6rem;
	.footer-logo-column__logo-button-container {
	}
	&__logo {
		margin-bottom: 1.5rem;
	}
	&__text {
		margin-bottom: 4.5rem;
	}
	&__input-description {
		margin-bottom: 1.4rem;
	}
}

/*Компонент "Колонка прайс-лист"*/

.price-column {
	color: $color-white-1;
	&__header {
		font-size: 2rem;
		font-weight: 600;
		margin-bottom: 2.5rem;
	}
	&__icons-header {
		margin-bottom: 1.5rem;
	}
	&__icons-list {
		display: flex;
		gap: 1rem;
		list-style: none;
	}
	&__icon-img {
		width: 3.9rem;
		height: 3.9rem;
	}
}

/*Компонент "колонка контакты"*/

.contacts-column {
	color: $color-white-1;
	flex-shrink: 0;
	&__header {
		font-weight: 600;
		font-size: 2rem;
		margin-bottom: 2.5rem;
	}
	&__icons-list {
		list-style: none;
		display: flex;
		gap: 0.5rem;
	}
	&__icon-img {
		width: 6.1rem;
		height: 3.9rem;
	}
}

/*Компонент "кнопка" */

.button {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	border: none;
	padding: 2.2rem 5.4rem;
	background-color: $color-ginger-1;
	border-radius: 8rem;
	line-height: 1.7rem;
	color: white;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.3s;
	&:hover {
		background-color: #cca04b;
	}
	&__icon {
		display: block;
		width: 1.5rem;
		height: 1.5rem;
	}
	&__text {
	}
	&__icon-container {
		width: fit-content;
		height: fit-content;
	}
	&--price {
		padding: 2.1rem 4.35rem;
	}
	&--price &__icon {
		width: 1.7rem;
		height: 1.7rem;
	}
	&--price-burger-menu {
		padding: 2.65rem 8.85rem;
	}
	&--search {
		padding: 1.15rem;
		position: absolute;
		top: 0.83rem;
		right: 0.83rem;
		transform: translate(0%, 0%);
	}
	&--search &__text {
		display: none;
	}
	&--search &__icon {
		width: 1.84rem;
		height: 1.84rem;
	}
	&--mobile-nav-input {
		padding: 0;
		background: none;
	}
	&--mobile-nav-input &__text {
		display: none;
	}
	&--mobile-nav-input &__icon {
		width: 1.5rem;
		height: 1.5rem;
	}
	&--footer {
		padding: 2.1rem 5rem;
		margin-bottom: 2rem;
	}
	&--footer &__text {
		white-space: nowrap;
	}
	&--footer &__icon {
		width: 1.7rem;
		height: 1.7rem;
	}
	&--footer-logo-column {
		display: none;
		padding: 1.25rem 2.95rem;
	}
	&--quantity-container {
		padding: 0.4rem 1.4rem;
		background: linear-gradient(
			90deg,
			rgba(255, 198, 80, 0.3) 0%,
			rgba(254, 202, 110, 0.3) 97.25%
		);
		line-height: 1.25;
		font-size: 1.2rem;
		color: $color-gray-1;
		font-weight: 300;
	}
	&--quantity-container &__icon-container {
		display: none;
	}
	&--price-cart-container &__icon {
		width: 2.3rem;
		height: 2.3rem;
		margin-top: -0.5rem;
	}
	&--price-cart-container &__text {
		white-space: nowrap;
	}
	&--trash {
		padding: 1.7rem;
	}
	&--trash &__text {
		display: none;
	}
	&--trash &__icon {
		height: 2.5rem;
		width: 2.5rem;
	}
	&--no-icon &__icon {
		display: none;
	}
	&--no-icon {
		padding: 2.1rem 5.1rem;
	}
	&--items-list-to-cart {
		padding: 1rem 1.9rem;
	}
	&--items-list-to-cart-active {
		background-color: $color-green-1;
	}
	&--items-list-to-cart-active &__icon {
		display: none;
	}
	&--items-list-to-cart &__icon {
		margin-top: -0.5rem;
		height: 2.7rem;
		width: 2.7rem;
	}
	&--items-list-to-cart &__text {
		font-size: 1rem;
		line-height: 1.2;
		letter-spacing: 0.15em;
	}
	&--mobile-nav-1 {
		padding: 1.2rem;
	}
	&--mobile-nav-1 &__text {
		display: none;
	}
	&--mobile-nav-1 &__icon {
		width: 1.2rem;
		height: 1.2rem;
	}
	&--mobile-nav-2 {
		flex-direction: row-reverse;
		gap: 0.6rem;
		background: none;
		padding: 0;
	}
	&--mobile-nav-2 &__text {
		color: $color-gray-1;
		font-size: 1.2rem;
		line-height: 1.25;
		font-weight: 600;
	}
	&--modal-caretype {
		padding: 1rem;
	}
	&--modal-caretype &__text {
		display: none;
	}
	&--modal-caretype &__icon {
		height: 1.5rem;
		width: 1.5rem;
	}
	&--modal-subtype {
		padding: 0.8rem;
	}
	&--modal-subtype &__icon {
		height: 1.2rem;
		width: 1.2rem;
	}
	&--modal-add-subtype {
		padding: 1rem 2rem;
		justify-content: center;
	}
	&--modal-add-subtype &__icon-container {
		display: none;
	}
	&--mobile-filters {
		background: none;
		padding: 0;
		margin-bottom: 1.1rem;
	}
	&--mobile-filters:hover {
		background-color: inherit;
	}
	&--mobile-filters &__text {
		font-size: 1.6rem;
		font-weight: 500;
		color: $color-black-1;
	}
	&--mobile-filters &__icon-container {
		width: 3.2rem;
		height: 3.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba($color-ginger-1, 0.5);
		border-radius: 50%;
	}
	&--mobile-filters &__icon {
		height: 0.6rem;
	}
	&--thanks-for-order-modal {
		background: none;
		padding: 0.2rem;
	}
	&--thanks-for-order-modal &__text {
		display: none;
	}
	&--card-description {
		background: none;
		padding: 0;
		gap: 0.5rem;
		margin-bottom: 1.5rem;
	}
	&--card-description-mt {
		margin-top: 2rem;
		margin-bottom: 0;
	}
	&--card-description:hover {
		background-color: inherit;
	}
	&--card-description &__text {
		font-weight: 500;
		font-size: 1.6rem;
		color: $color-black-1;
	}
	&--card-description &__icon {
		width: 0.7rem;
		height: 0.7rem;
	}
	&--card-description-producers &__text {
		font-weight: 500;
		font-size: 1.2rem;
	}
}

/*Верхняя панель навигации*/

.top-navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 6.2rem;
	border-bottom: 1px solid rgba($color-gray-1, 0.2);
	&__address {
		display: flex;
		gap: 4rem;
	}
}

/* Панель навигации */

.navbar {
	&__list {
		display: flex;
		gap: 3rem;
		align-items: center;
		list-style: none;
	}
	&__list-item {
		text-decoration: none;
		align-self: stretch;
		padding-right: 3rem;
		border-right: 1px dashed rgba($color-gray-1, 0.1);
	}
	&__list-item:last-child {
		padding-right: 0;
		border-right: none;
	}
	&__list-anchor {
		text-decoration: none;
		color: $color-gray-1;
	}
	&--burger-menu &__list {
		flex-direction: column;
		gap: 2rem;
		margin-bottom: 2.2rem;
	}
}

/* header*/
.header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba($color-gray-1, 0.2);
	margin-bottom: 4.5rem;
	&__logo {
		width: 15.6rem;
		height: 6.6rem;
		margin-right: 3.8rem;
	}
	&__resize-wrapper {
		display: flex;
		gap: 1.5rem;
	}
	&__resize-wrapper--cart {
		gap: 5rem;
	}
	&__resize-wrapper--search {
		margin-right: 3.5rem;
		margin: 1.6rem;
	}
	&__tel-operator {
		width: 7rem;
		height: 9.2rem;
		margin-right: 5rem;
	}
}

/*mobile-header*/
.mobile-header {
	display: none;
	margin-bottom: 2rem;
	&__logo {
		width: 9.7rem;
		height: 4.1rem;
	}
}

/*footer*/

.footer {
	background-color: $color-gray-1;
	display: grid;
	grid-template-columns: repeat(5, auto);
	gap: 9.5rem;
	padding: 7.1rem;
	flex-wrap: wrap;
}

.catalogue-page__header-container {
	color: $color-black-1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2.5rem;
}

.catalogue-page__header {
	margin: 0;
	font-weight: 500;
	font-size: 4rem;
	line-height: 1.2;
	text-transform: uppercase;
}

.form-lowest-highest {
	font-size: 1.6rem;
}
.form-lowest-highest__label {
	color: $color-black-1;
	font-weight: 500;
	font-size: 1.6rem;
	margin-right: 0.5rem;
}
.form-lowest-highest__select {
	min-width: 15rem;
	line-height: 1.5;
	color: $color-gray-1;
	border: none;
	appearance: none;
	background-image: url('../assets/images/icons_triangle_down.svg');
	background-repeat: no-repeat;
	background-size: 0.7rem 0.7rem;
	background-position: top 50% right 0rem;
}

.items-filters-container {
	display: grid;
	gap: 13.1rem;
	grid-template-columns: 23.8rem 1fr;
}

.sidebar {
	&__header {
		font-weight: 500;
		font-size: 1.6rem;
		color: $color-black-1;
		margin-bottom: 1rem;
	}
	&__button-container {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 4rem;
	}
}
/*Компонент "фильтр по цене"*/
.price-filter {
	margin-bottom: 3rem;
	&--mobile {
		max-width: 23.2rem;
	}
	&-header {
		margin-bottom: 1.6rem;
		font-weight: 300;
	}
	&-header-bold {
		color: $color-black-1;
		font-weight: 500;
	}
	&__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	&__input {
		font-size: 1.2rem;
		line-height: 1.5rem;
		text-align: center;
		flex: 1 1 auto;
		width: 0;
		border: none;
		padding: 0.4rem 0;
		border-radius: 40px;
		background: linear-gradient(
			90deg,
			rgba(255, 198, 80, 0.3) 0%,
			rgba(254, 202, 110, 0.3) 97.25%
		);
	}
	&__input-dash {
		font-weight: 500;
		line-height: 1.3;
	}
}
/*Компонент "Фильтр по производителю"*/
.producer-filter {
	&__header {
		font-weight: 500;
		font-size: 1.6rem;
		color: #111111;
		margin-bottom: 1.5rem;
	}

	&__producer-list {
		list-style: none;
		margin-bottom: 1.5rem;
	}
	&__producer-list-item {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 0.5rem;
	}
	&__producer-list-item:last-child {
		margin-bottom: 0;
	}
}
/*Компонент "Контейнер для карточек товаров"*/

.item-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	&__cards {
		display: grid;
		gap: 2.1rem;
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 5rem;
	}
}

/* Компонент "Карточка товара"*/

.item-card {
	box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.96);
	color: $color-black-1;
	padding: 4.2rem 2.3rem 2.9rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	&__img {
		height: 20rem;
		max-width: 20rem;
		margin-bottom: 0.4rem;
		align-self: center;
	}
	&__size {
		font-size: 1.2rem;
		line-height: 1.3;
		margin-bottom: 1rem;
	}
	&__header {
		font-weight: 500;
		margin-bottom: 2rem;
	}
	&__header-brand {
		font-weight: 700;
	}
	&__header-link {
		text-decoration: none;
		color: #111111;
	}
	&__additional-info {
		margin-bottom: 0.5rem;
		color: $color-gray-1;
		font-weight: 300;
	}
	&__additional-info-bold {
		color: $color-black-1;
		font-weight: 500;
	}
	&__price-container {
		display: flex;
		align-items: center;
		gap: 4rem;
	}
	&__price {
		white-space: nowrap;
		font-weight: 800;
		font-size: 1.6rem;
		line-height: 1.3;
	}
}
/*Компонент "карточка товара" для страницы с описанием товара*/
.product-card {
	display: grid;
	gap: 4rem;
	grid-template-columns: 66.4rem 1fr;
	&--mobile {
		display: none;
	}
	&__img {
		justify-self: center;
		max-width: 66.4rem;
		max-height: 50rem;
	}
	&__is-available {
		color: $color-green-1;
		font-weight: 500;
		line-height: 1.3;
		margin-bottom: 1rem;
	}
	&__header {
		color: $color-black-1;
		font-weight: 400;
		margin-bottom: 1rem;
	}
	&__header-bold {
		font-weight: 800;
	}
	&__size {
		font-size: 1.2rem;
		line-height: 1.3;
		margin-bottom: 2.5rem;
	}
	&__price-cart-container {
		display: flex;
		align-items: center;
		gap: 4rem;
		margin-bottom: 2rem;
	}
	&__price {
		color: $color-black-1;
		font-size: 3rem;
		font-weight: 800;
		line-height: 1.3;
	}
	&__share-container {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 3.5rem;
	}
	&__share,
	&__delivery,
	&__price-list {
		box-shadow: 0px 15px 70px -11px rgba($color-black-2, 0.04);
		border-radius: 10px;
	}
	&__share {
		padding: 2.65rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__share-icon {
		width: 2.4rem;
		height: 2.4rem;
	}
	&__delivery {
		padding: 2.05rem 3.55rem;
		font-size: 1.2rem;
	}
	&__delivery-bold {
		font-weight: 700;
	}
	&__price-list {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 3rem 3.75rem;
	}
	&__price-list-text {
		white-space: nowrap;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.7rem;
	}
	&__price-list-icon {
		width: 1.7rem;
		height: 1.7rem;
	}
	&__description-container {
		border-bottom: 1px dashed rgba($color-gray-1, 0.3);
	}
	&__description-text {
		font-size: 1.2rem;
		padding-bottom: 2rem;
	}
}
/*Компонент "добавить-убавить количество товара"*/
.quantity-container {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.product-data {
	margin-bottom: 3rem;
	&__second {
		margin-bottom: 0;
		margin-top: 2rem;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&__elem {
		margin-bottom: 0.5rem;
		font-weight: 300;
	}
	&__elem:last-child {
		margin-bottom: 0;
	}
	&__elem-bold {
		color: $color-black-1;
		font-weight: 500;
	}
}

/*Компонент "корзина"*/

.products-cart {
	&__header {
		margin: 0;
		margin-bottom: 2rem;
		line-height: 1.2;
	}
	&__items-list {
		border-top: 1px dashed rgba($color-gray-1, 0.3);
		list-style: none;
		margin-bottom: 5rem;
	}
	&__checkout {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10rem;
	}
}
/*Компонет "Карточка товара для корзины"*/
.item-in-cart {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5rem 0;
	border-bottom: 1px dashed rgba($color-gray-1, 0.3);
	&__img {
		max-height: 19.7rem;
		max-width: 28.1rem;
	}
	&__img-description-container {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	&__description {
		max-width: 46rem;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 1rem;
	}
	&__size {
	}
	&__header {
		color: $color-black-1;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.4rem;
	}
	&__description {
		font-weight: 300;
		font-size: 1.2rem;
	}
	&__price-quantity-delete-container {
		display: flex;
		align-items: center;
		gap: 4.4rem;
	}
	&__price-quantity-container {
		display: flex;
		align-items: center;
		gap: 4.4rem;
	}
	&__price-container {
		display: flex;
		align-items: center;
		gap: 4.4rem;
		padding-right: 4.4rem;
		border-right: 1px dashed rgba($color-gray-1, 0.3);
	}
	&__price-quantity-container > * {
		align-self: stretch;
		padding-left: 4.4rem;
		border-left: 1px dashed rgba($color-gray-1, 0.3);
	}
}

.item-in-admin__price-quantity-container {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.modal-container {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.702);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-form {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	background: #fff;
	width: 80vw;
	height: 80vh;
	max-width: 40rem;
	border-radius: 1.6rem;
	padding: 3.6rem 1.6rem;
	text-align: center;
	&-label {
		display: block;
		font-size: 1.8rem;
		margin-bottom: 0.8rem;
		text-transform: capitalize;
		letter-spacing: 0.1rem;
	}

	&-input {
		width: 100%;
		font-size: 1.6rem;
		padding: 0.6rem 1.2rem;
		border-radius: 0.4rem;
		background: #f0f4f8;
		border: 1px solid #bcccdc;
	}
	&__file-input {
		padding: 1.2rem 1.6rem;
		background-color: #ffc85e;
		border-radius: 8rem;
		line-height: 1.7rem;
		color: white;
		font-weight: 700;
		cursor: pointer;
		transition: all 0.3s;
	}
	&__file-input:hover {
		background-color: #cca04b;
	}
	&__image-preview {
		margin-top: 2rem;
		position: relative;
		background-color: transparent;
		outline: 1px dashed #000;
		outline-offset: -1px;
		width: 10rem;
		height: 14rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image-preview > img {
		width: 100%;
		height: 100%;
		display: block;
		z-index: 10;
	}
	&__image-preview-text {
		font-size: 1rem;
	}
}

.mobile-header__top-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid rgba($color-gray-1, 0.1);
	height: 6.2rem;
	padding: 0 1.5rem;
}

.mobile-header__bottom-panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid rgba($color-gray-1, 0.1);
	height: 4.1rem;
	padding: 0 4.5rem;
}

.mobile-burger-background {
	background-color: rgba($color-black-1, 0.5);
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 200%;
}
.mobile-burger {
	padding: 2rem 1.5rem 3.2rem;

	background-color: $color-white-1;

	width: 100%;
}

.mobile-burger__address-phone {
	padding-bottom: 2rem;
	border-bottom: 1px dashed rgba($color-gray-1, 0.2);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.navbar-container {
	padding-top: 2.5rem;
}
.navbar-container__header {
	font-weight: 600;
	font-size: 20px;
	color: $color-gray-1;
	margin-bottom: 2.5rem;
}

.top-caretypes {
	margin-bottom: 5rem;
	overflow-x: auto;
	&__list {
		display: flex;
		align-items: center;
		gap: 1.1rem;
		list-style: none;
	}
	&__list-item {
	}
	&__button {
		cursor: pointer;
		height: 7rem;
		max-width: 12rem;
		color: $color-gray-1;
		box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
		border-radius: 10px;
		line-height: 1.7rem;
		padding: 1rem;
		background: none;
		border: none;
	}
	&__button-active {
		background-color: $color-ginger-1;
	}
}

.side-caretypes {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-left: -0.2rem;
	&-list-component {
		padding-bottom: 2rem;
		border-bottom: 1px dashed rgba($color-gray-1, 0.3);
	}
	&-list-component__button-top {
		background: none;
		border-radius: 10px;
		padding: 0.2rem 0.5rem;
		border: none;
		font-weight: 500;
		font-size: 16px;
		margin-bottom: 1.5rem;
		cursor: pointer;
	}
	&-list-component__list {
		display: flex;
		flex-direction: column;

		gap: 1rem;
		list-style: none;
	}
	&-list-component__list-item {
	}

	&-list-component__button {
		border-radius: 10px;
		padding: 0.2rem 0.5rem;
		background: none;
		border: none;
		cursor: pointer;
	}

	&-list-component__button-active {
		background-color: $color-ginger-1;
	}
}

.modal__caretype {
	display: flex;
	align-items: center;
	gap: 1rem;
	&-header {
		font-weight: 600;
		font-size: 1.5rem;
	}
	&-caretype {
	}
	&-header--subtype {
		text-align: start;
	}
	&--subtype {
		margin-left: 8.94rem;
		margin-bottom: 1rem;
	}
}

.modal-form-input--care-sub-type {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	width: 80%;
	font-weight: 400;
	font-size: 1.4rem;
}

.modal-form__subtype-input-label-container {
	margin-top: 1.6rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.modal-form__subtype-input-label {
	font-weight: 600;
}
.modal-form__subtype-input-container {
	display: flex;
	align-items: center;
}

.modal-form__type-input-label {
	font-weight: 600;
	font-size: 1.6rem;
}
.modal-form__type-input {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.mobile-filters {
	display: none;
}
.top-caretypes--mobile {
	display: none;
}

.thanks-for-order {
	padding: 3.6rem;
	padding-bottom: 13.4rem;
	border-radius: 8px;
	background-color: $color-white-1;
	&__button-container {
		display: flex;
		justify-content: end;
		margin-bottom: 6.7rem;
	}

	&__data-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__img-container {
		padding: 1.75rem;

		background-color: $color-ginger-1;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 2.4rem;
	}
	&__img {
		width: 2.4rem;
		height: 2.4rem;
	}
	&__header {
		font-weight: 500;
		font-size: 4rem;
		line-height: 1.2;
		color: $color-black-1;
		margin-bottom: 2rem;
	}
	&__description {
		font-weight: 300;
		font-size: 2rem;
		line-height: 1.2;
		padding: 0 7rem;
	}
}

.product-card {
	&--mobile-show {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-bottom: 2rem;
		display: none;
	}
	&__mobile-price-container {
		display: flex;
		gap: 2.7rem;
		margin-bottom: 0.2rem;
	}
	&__mobile-cart-share-container {
		display: flex;
		justify-content: space-between;
	}
	&__mobile-delivery-price-list-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	&--mobile &__price-list {
		justify-content: center;
	}
	&--mobile .button--price-cart-container {
		padding: 2.1rem 3.95rem;
	}
}

///////////////////////////////

@media screen and (max-width: 1400px) {
	.header {
		justify-content: center;
		&__resize-wrapper--search {
			flex-direction: column-reverse;
		}
		&__resize-wrapper--cart {
			gap: 1.5rem;
		}
	}
	.product-card {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 1280px) {
	.header {
		justify-content: center;
		&__resize-wrapper--cart {
			flex-direction: column-reverse;
		}
		&__resize-wrapper--cart {
			gap: 1.5rem;
		}
	}

	.item-card-container__cards {
		grid-template-columns: repeat(2, 1fr);
	}
	.footer {
		grid-template-columns: repeat(3, 1fr);
		gap: 6rem;
	}
	.item-in-cart {
		flex-direction: column;
		align-items: start;
		gap: 1.5rem;
		&__price-container:first-child {
			border: none;
			padding: 0;
		}
	}
}

@media screen and (max-width: 1112px) {
	.header {
		display: none;
	}
	.top-navbar {
		display: none;
	}
	.mobile-header {
		display: block;
	}
	.sidebar-desktop {
		display: none;
	}
	.mobile-filters {
		display: block;
	}
	.catalogue-page__header-container {
		color: $color-black-1;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: space-between;
		margin-bottom: 2.5rem;
	}
	.catalogue-page__header {
		margin-bottom: 1.5rem;
		font-size: 2rem;
	}
	.form-lowest-highest {
		margin-top: 1.4rem;
	}
	.top-caretypes {
		display: none;
		overflow: hidden;
		margin-bottom: 1.1rem;
		&--mobile {
			display: block;
		}
		&__list {
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: flex-start;
			gap: 1rem;
			list-style: none;
		}
		&__button {
			padding: 0;
			white-space: nowrap;
			height: auto;
			max-width: none;
		}
	}

	.items-filters-container {
		display: block;
	}
}

@media screen and (max-width: 900px) {
	.footer {
		grid-template-columns: repeat(2, 1fr);
		gap: 2.5rem;
	}
	.footer-logo-column {
		grid-column: 1/-1;
		margin: 0;
		&-column__logo {
			width: 9.7rem;
			height: 4.1rem;
			margin: 0;
		}
		&-column__logo-button-container {
			display: flex;
			align-items: center;
			margin-bottom: 1.5rem;
			justify-content: space-between;
		}
	}

	.contacts-column {
		order: 4;
	}
	.price-column {
		order: 5;
	}
	.main-container {
		margin-bottom: 5rem;
	}
}
@media screen and (max-width: 670px) {
	.item-card-container__cards {
		grid-template-columns: 1fr;
	}
	.item-in-cart__img-description-container {
		flex-direction: column;
		gap: 1rem;
	}

	.footer-logo-column {
		padding-right: 0.5rem;
	}
	.button--footer {
		display: none;
	}
	.button--footer-logo-column {
		display: flex;
	}
	.price-column__header {
		display: none;
	}
	.price-column {
		align-self: center;
	}
	.input-with-button--footer {
		width: auto;
	}
	.product-card__img {
		max-width: 25.6rem;
		max-height: 35rem;
	}
	.card-price-share-container {
		display: none;
	}
	.container {
		padding: 0 1.5rem;
	}
	.footer {
		padding: 1.5rem 1rem 1.5rem 1.5rem;
	}
	.products-cart__checkout {
		margin-bottom: 0;
	}
	.products-cart__items-list {
		margin-bottom: 2.5rem;
	}
	.product-card--mobile-show {
		display: flex;
	}

	.item-card-container__cards {
		margin-bottom: 4.5rem;
	}
	.item-card__price-container {
		justify-content: space-between;
		gap: 1rem;
	}
	.item-in-cart__price-quantity-container {
		gap: 1.5rem;
	}

	.item-in-cart__price-quantity-delete-container {
		gap: 1.5rem;
		& .quantity-container {
			padding-left: 0;
			border: none;
		}
		& .item-in-cart__price-container {
			padding: 0 1.5rem;
		}
		& .product-card__price {
			font-size: 1.6rem;
		}
		& .button--trash {
		}
	}
	.products-cart__checkout {
		flex-direction: column-reverse;
		gap: 2.5rem;
	}
	.breadcrumbs {
		margin-bottom: 2.5rem;
	}
	.item-in-cart {
		padding: 2rem 0;
	}
	.item-card {
		padding: 2.9rem 1.5rem;
	}
}
